!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DddCrm
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to 'The best crm', root_path, class: 'navbar-brand'
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          -if current_user
            %ul.nav.navbar-nav
              %li
                =link_to 'Manage contacts', contacts_home_index_path
              %li
                =link_to 'Manage deals', deals_path
              %li
                =link_to 'Manage tasks', tasks_path
              - if current_user_entity.is_admin?
                %li
                  =link_to 'Manage users', user_management_path
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li
                = link_to 'Sing out', destroy_user_session_path, method: :delete
            - else
              %li
                = link_to 'Sing in', new_user_session_path

    = yield
